<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/login.css"> <!-- Corrected path -->
        <title>Login</title>
    </head>
<body>
    <div class="cigarLogo"><img src="/images/Cuban Cigars_transparent.png" alt=""></div>

   
    <form id="loginForm" action="/customer/login" method="post"> 
        <div class="loginContent">
            <div class="header">
                <header>Login</header>

                <% if (messages.error) { %>
                    <%= messages.error %>
                <% } %>

            </div>
            <div class="inputBox">
                <input type="text" class="inputField" placeholder="Email" name="email" required>
            </div>
            <div class="inputBox">
                <input type="password" class="inputField" placeholder="Password" name="password" required>
            </div>
            <div class="submitButton">
                <button class="button" id="submit">Login</button>
            </div>
            <div class="registerHere">
                <p>Register Here! <a href="/customer/register">Register</a></p>
            </div>
        </div>
    </form>
</body>
</html>