<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/settings.css"> <!-- Corrected path -->
    <title>Settings</title>
</head>

<body>

    <div class="cigarLogo">
        <a href="/customer/">
            <img src="/images/Cuban Cigars_transparent.png" alt="Cuban Cigars Logo">
        </a>
    </div>
    
    <div class="settingContent">
        <form id="logoutButton" action="/customer/logout" method="POST">
            <div class="customerLogout">
                <input type="hidden" name="_method" value="DELETE">
                <button type="submit">Log Out</button>
            </div>
        </form>
    
        <form id="deleteButton" action="/customer/delete" method="POST">
            <div class="customerDelete">
                <div class="inputBox">
                    <input type="password" class="inputField" placeholder="Password:" name="password" required>
                </div>
                <div class="accountDelete">
                    <button type="submit" class="button" id="submit">Delete Account</button>
                </div>
            </div>
        </form>

    
        <form id="credentialChanges" action="/customer/changePassword" method="POST">
            <div class="customerDetails">

                <div class="inputBox">
                    <input type="password" class="inputField" name="pass" placeholder="Current Password:" required>
                </div>

                <div class="inputBox">
                    <input type="password" class="inputField" name="newPassword" placeholder="New Password:" required>
                </div>

                <div class="inputBox">
                    <input type="password" class="inputField" name="confirmNewPassword" placeholder="Confirm Password:" required>
                </div>

                <div class="passwordButton">
                    <button type="submit" class="button" id="submit">Change Password</button>
                </div>
            </div>
        </form>
    </div>
</body>
</html>