<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>
</head>
<body>
    
    <form action="/customer/logout" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <button type="submit">Log Out</button>
    </form>

    <form action="/customer/delete" method="POST">
        <label>Password: </label>
        <input type="password" name="password">
        <button type="submit">Delete Account</button>
    </form>

    <form action="/customer/changePassword" method="POST">
        <label>Current Password: </label>
        <input type="password" name="password">
        <label>New Password: </label>
        <input type="password" name="newPassword">
        <label>Confirm New Password: </label>
        <input type="password" name="confirmNewPassword">
        <button type="submit">Change Password</button>
    </form>

</body>
</html>